
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
    font-size: 16px;
    background-color: #4f8b69;
}
  :root{
    --border-color: #fff5;
    --w-image: 500px;
    --calculate: calc(3 / 2);
  }
  #logo {
    position: fixed;
    top: 3.5rem;
    left: 0;
    z-index: 1001;
    top: 2%;
}   

#logo img {
    width: 10%; 
    height: auto;
}


header{
    display: grid;
    grid-template-columns: 80px fr calc(var(--w-image) * var(--calculate));
    grid-template-rows: 80px;
    position: relative;
    z-index: 10;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 4rem 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Modak", system-ui, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    letter-spacing: 0.1rem;
}

nav a:hover,
nav a.active {
    background-color: #D5CEA3;
    color: #1A120B;
}

.dropdown {
    position: relative; 
    display: inline-block;
    width: fit-content; 
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-family: "Modak", system-ui, sans-serif;
    font-size: 2rem;
    padding: 0.5rem 2rem;  
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.1rem;
    width: 100%;
}


.dropbtn:hover, .dropdown:hover .dropbtn {
    background-color: #D5CEA3;
    color: #1A120B;
    border-radius: 0;
}


.dropdown-content {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #D5CEA3;
    min-width: 100%; 
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    padding: 0;
}


.dropdown-content a {
    color: white;
    padding: 0.5rem 2rem;  
    text-decoration: none;
    display: block;
    font-family: "Modak", system-ui, sans-serif;
    font-size: 2rem;  
    letter-spacing: 0.1rem;
    transition: all 0.3s ease; 
}


.dropdown-content a:hover {
    background-color: #FFFFFF;
    border-radius: 0; 
}

.dropdown-content .color-brown:hover {
    color: #3C2A21;
}
.dropdown-content .color-pink:hover {
    color: #933333;
}
.dropdown-content .color-Beige:hover {
    color: #A77C82;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carousel{
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.carousel .list{
    height: 100%;
    position: relative;
}
.carousel .list::before{
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}
.carousel .list::after{
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    background-color: red;
    width: 400px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px  50px 110px  230px;
    filter: blur(150px);
    opacity: .6;
}
.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel .list .item .image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}
.carousel .list .item .image img{
    width: 90%;
    margin-bottom: 20px;
    filter: drop-shadow(0 150px 50px #9e0c0c55);
}
.carousel .list .item .image figcaption{
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-weight: bold;
    font-size: 1.3em;
    text-align: right;
    margin-bottom: 30px;
    width: 70%;
}
.carousel .list .item .main-content{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content{
    padding: 150px 20px  20px 80px;
    font-family: "Lekton", monospace;
    font-weight: 400;
}

.description{
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: justify;
}
.carousel .list .item .main-content .content h2{
    font-size: 5em;
    font-family: "Climate Crisis", serif;
    font-weight: 400;
    text-transform: uppercase;
}
.carousel .list .item .main-content .content .price{
    font-family: "Lekton", monospace;
    font-size: 3em;
    margin: 20px 0;
}
.carousel .list .item .main-content .content .addToCard{
    background-color: #4f8b69;
    color: #fff;
    padding: 10px  30px;
    font-family: "Lekton", monospace;
    font-size: large;
    font-weight: 400;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}
.arrows{
    position: absolute;
    bottom: 20px;
    width: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
}
.arrows button{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: #fff;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
    box-shadow: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: #eee5;
}
.carousel .list .item{
    display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    display: block;
}
.carousel .list .item.active{
    z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    pointer-events: none;
}
.carousel .list .item.active .main-content{
    animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}
.next .item.other_1{
    z-index: 1;
}
.next .item .image img,
.next .item .image figcaption{
    animation: effectNext .5s ease-in-out 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}
.next .item.active .image{
    --transform-from: var(--w-image);
}
.next .item.other_1 .image{
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}
.next .item.other_2 .image{
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}
.arrows{
    z-index: 10;
}

.prev .list .item .image img,
.prev .list .item .image figcaption{
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}
.prev .list .item.active .image{
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}
.prev .list .item.other_1 .image{
    --transform-from: 0px;
    z-index: 3;
}
.prev .list .item.other_2 .image{
    z-index: 3;
    --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content{
    opacity: 0;
}
@media screen and (max-width: 1023px){
    :root{
        --calculate: 1;
        --w-image: 400px; 
    }
    .carousel .list .item .main-content .content h2{
        font-size: 3em;
    }
}
@media screen and (max-width: 767px){
    .carousel .list .item .image{
        width: 100%;
        left: 0;
        justify-content: center;
    }
    .carousel .list .item .image figcaption{
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .carousel .list .item .main-content .content{
        display: none;
    }
    .arrows{
        left: 50%;
        justify-content: center;
    }
}

.white{
    color: white;
}
.black{
    color: black;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        z-index: 100;
    }

    #navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1A120B;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    #navbar.active {
        display: flex;
    }

    #navbar a {
        font-size: 2rem;
        margin: 1rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInLinks 0.5s forwards;
    }

    #navbar a:nth-child(2) {
        animation-delay: 0.1s;
    }

    #navbar a:nth-child(3) {
        animation-delay: 0.2s;
    }

    #navbar a:nth-child(4) {
        animation-delay: 0.3s;
    }
    .arrows{
        z-index: 2;
    }
    #logo {
        position: fixed;
        top: 3.5rem;
        left: 0;
        z-index: 12;
        top: 2%;
    }   
    
    #logo img {
        width: 10%; 
        height: auto;
    }
}

@keyframes slideInMenu {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLinks {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
